*.swp
.jshint
Wally_rc.syso
.DS_Store

build

frontend/yarn-error.log
frontend/npm-error.log
frontend/build
frontend/node_modules

dist/ppa/wally/wally-*
dist/ppa/wally/wally_*
dist/ppa/wally/template/wally
dist/ppa/wally/template/wally-cli
dist/osx/Wally.app/Contents/MacOS/Wally
dist/osx/Wally.app/Contents/CodeResources
dist/osx/Wally.app/Contents/_CodeSignature
dist/osx/*Notarized
dist/osx/wally-cli
dist/osx/*dmg
dist/osx/Wally.app/Contents/libs/libusb-1.0.0.dylib
dist/linux64/wally
dist/linux64/wally-cli


dist/win64/wally.exe
dist/win64/wally-cli.exe
dist/win64/installer/Output
wally.rc
wally.ico
wally.exe.manifest
wally-res.syso
ui
wally-winx64.exe
*.dll
