assets.go

ui/yarn-error.log
ui/build
ui/node_modules

dist/ppa/wally/wally-*
dist/ppa/wally/wally_*
dist/ppa/wally/template/wally
dist/ppa/wally/template/wally-cli
dist/osx/Wally.app/Contents/MacOS/Wally
dist/osx/wally-cli
dist/osx/*dmg
dist/linux64/wally
dist/linux64/wally-cli
dist/win64/wally.exe
dist/win64/wally-cli.exe
dist/win64/installer/Output
Wally_rc.syso

vendor

.DS_Store
